@import "./help/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "./base/header.scss";
@import "./base/main.scss";
@import "./base/work.scss";
@import "./base/tabs.scss";
@import "./base/comparison.scss";
@import "./base/project.scss";
@import "./base/part.scss";
@import "./base/footer.scss";
@import "./base/media.scss";

a {
    color: black;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 17px;
}